In [ ]:
# import kagglehub
# path = kagglehub.dataset_download("tharunreddy2911/mutual-fund-data")

# print("Path to dataset files:",path)

In [1]:
import pandas as pd
df_loan_apps = pd.read_csv("../../Datasets/loan_applications.csv")
df_transactions = pd.read_csv("../../Datasets/transactions.csv")

In [10]:
df_loan_apps.head()

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN

In [11]:
pd.io.json.build_table_schema(df_loan_apps)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'application_id', 'type': 'string'},
  {'name': 'customer_id', 'type': 'string'},
  {'name': 'application_date', 'type': 'string'},
  {'name': 'loan_type', 'type': 'string'},
  {'name': 'loan_amount_requested', 'type': 'number'},
  {'name': 'loan_tenure_months', 'type': 'integer'},
  {'name': 'interest_rate_offered', 'type': 'number'},
  {'name': 'purpose_of_loan', 'type': 'string'},
  {'name': 'employment_status', 'type': 'string'},
  {'name': 'monthly_income', 'type': 'number'},
  {'name': 'cibil_score', 'type': 'integer'},
  {'name': 'existing_emis_monthly', 'type': 'number'},
  {'name': 'debt_to_income_ratio', 'type': 'number'},
  {'name': 'property_ownership_status', 'type': 'string'},
  {'name': 'residential_address', 'type': 'string'},
  {'name': 'applicant_age', 'type': 'integer'},
  {'name': 'gender', 'type': 'string'},
  {'name': 'number_of_dependents', 'type': 'integer'},
  {'name': 'loan_status', 'type': 'string'},
  {'name': 'fraud_flag', 'type': 'integer'},
  {'name': 'fraud_type', 'type': 'string'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [ ]:
df_transactions.style.highlight_max().to_latex()

✅ Absolutely!
Let’s go through **the pandas functions & classes you listed**, with **examples** using your two data samples:

1️⃣ **Transactions data** (like `transactions.csv` or `transactions.xlsx`)
2️⃣ **Loan applications data** (like `loan_applications.json` or `loan_applications.xlsx`)

---

# 🚀 Examples for each function

---

## 🥒 Pickle (serialize/deserialize DataFrame objects in binary)

### ➡ pandas.read\_pickle / pandas.DataFrame.to\_pickle

In [8]:
import pandas as pd

# Save to pickle
df_transactions.to_pickle("transactions.pkl")

# Load from pickle
df = pd.read_pickle("transactions.pkl")

✅ Use case: very fast storage & retrieval, Python-specific.

---

## 📃 Text / CSV files

### ➡ pandas.read\_table


df = pd.read_table("transactions.txt", sep="\t")  # for tab-separated txt


### ➡ pandas.read\_csv


df = pd.read_csv("transactions.csv")


### ➡ pandas.DataFrame.to\_csv


transactions_df.to_csv("transactions.csv", index=False)


---

## ⬆ Fixed width files

### ➡ pandas.read\_fwf

```python
df = pd.read_fwf("transactions_fixedwidth.txt")
```

---

## 📋 Clipboard

### ➡ pandas.read\_clipboard / pandas.DataFrame.to\_clipboard

```python
# Copy paste data from Excel, then
df = pd.read_clipboard()

# Copy DataFrame to clipboard to paste into Excel
transactions_df.to_clipboard(index=False)
```

---

## 🗂 Excel

### ➡ pandas.read\_excel / pandas.DataFrame.to\_excel

```python
# Read
df = pd.read_excel("transactions.xlsx", sheet_name="Sheet1")
# Write
transactions_df.to_excel("transactions_output.xlsx", index=False)
```

### ➡ pandas.ExcelFile

```python
xls = pd.ExcelFile("transactions.xlsx")
print(xls.sheet_names)  # List of sheets
df = xls.parse("Sheet1")
```

### ➡ pandas.io.formats.style.Styler.to\_excel

```python
transactions_df.style.applymap(lambda v: "background-color: yellow" if v==0 else "")
    .to_excel("styled_transactions.xlsx", engine="openpyxl")
```

### ➡ pandas.ExcelWriter

```python
with pd.ExcelWriter("multiple_sheets.xlsx") as writer:
    transactions_df.to_excel(writer, sheet_name="Transactions", index=False)
    loans_df.to_excel(writer, sheet_name="Loans", index=False)
```

---

## 🌐 JSON

### ➡ pandas.read\_json / pandas.DataFrame.to\_json

```python
loans_df = pd.read_json("loan_applications.json")
loans_df.to_json("loan_output.json", orient="records")
```

### ➡ pandas.json\_normalize

```python
# Flatten nested JSON
pd.json_normalize(loans_data)
```

### ➡ pandas.io.json.build\_table\_schema

```python
pd.io.json.build_table_schema(loans_df)
```

---

## 🌎 HTML

### ➡ pandas.read\_html / pandas.DataFrame.to\_html

```python
# Read tables from HTML page
dfs = pd.read_html("https://example.com/table_page.html")

# Write DataFrame to HTML
transactions_df.to_html("transactions.html")
```

### ➡ pandas.io.formats.style.Styler.to\_html

```python
styled_html = transactions_df.style.highlight_max().to_html()
```

---

## 📝 XML

### ➡ pandas.read\_xml / pandas.DataFrame.to\_xml

```python
df = pd.read_xml("transactions.xml")
transactions_df.to_xml("transactions_output.xml")
```

---

## 📚 LaTeX

### ➡ pandas.DataFrame.to\_latex

```python
latex_code = transactions_df.to_latex()
```

### ➡ pandas.io.formats.style.Styler.to\_latex

```python
styled_latex = transactions_df.style.highlight_max().to_latex()
```

---

## 🏗 HDF5

### ➡ pandas.read\_hdf / pandas.HDFStore

```python
# Save to HDF5
transactions_df.to_hdf("store.h5", key="transactions", mode="w")

# Read
df = pd.read_hdf("store.h5", "transactions")

# Using HDFStore
with pd.HDFStore("store.h5") as store:
    store.put("loans", loans_df)
    df = store.get("loans")
    print(store.keys())
```

---

## 🪶 Feather / Parquet / ORC

### ➡ pandas.read\_feather / pandas.DataFrame.to\_feather

```python
transactions_df.to_feather("transactions.feather")
df = pd.read_feather("transactions.feather")
```

### ➡ pandas.read\_parquet / pandas.DataFrame.to\_parquet

```python
transactions_df.to_parquet("transactions.parquet")
df = pd.read_parquet("transactions.parquet")
```

### ➡ pandas.read\_orc / pandas.DataFrame.to\_orc

```python
transactions_df.to_orc("transactions.orc")
df = pd.read_orc("transactions.orc")
```

---

## 📝 SAS / SPSS

### ➡ pandas.read\_sas / pandas.read\_spss

```python
df = pd.read_sas("data.sas7bdat")
df = pd.read_spss("data.sav")
```

---

## 🏦 SQL

### ➡ pandas.read\_sql / pandas.read\_sql\_table / pandas.read\_sql\_query

```python
import sqlite3
conn = sqlite3.connect("db.sqlite")
# Whole table
df = pd.read_sql_table("transactions", conn)
# Specific query
df = pd.read_sql_query("SELECT * FROM transactions WHERE transaction_amount > 5000", conn)
```

### ➡ pandas.DataFrame.to\_sql

```python
transactions_df.to_sql("transactions", conn, if_exists="replace", index=False)
```

---

## 📊 Google BigQuery

### ➡ pandas.read\_gbq

```python
df = pd.read_gbq("SELECT * FROM `project.dataset.transactions`", project_id="my_project")
```

---

## 🏛 Stata

### ➡ pandas.read\_stata / pandas.DataFrame.to\_stata

```python
df = pd.read_stata("data.dta")
transactions_df.to_stata("transactions.dta")
```

### ➡ pandas.io.stata.StataReader / StataWriter

```python
reader = pd.io.stata.StataReader("data.dta")
print(reader.data_label)
print(reader.value_labels())
print(reader.variable_labels())

writer = pd.io.stata.StataWriter("output.dta", transactions_df)
writer.write_file()
```

---

# ✅ Examples on your data

If you have:

| File                     | Format     |
| ------------------------ | ---------- |
| `transactions.csv`       | CSV file   |
| `loan_applications.xlsx` | Excel file |

You could do:

```python
import pandas as pd

transactions_df = pd.read_csv("transactions.csv")
loans_df = pd.read_excel("loan_applications.xlsx")

# Save to JSON
transactions_df.to_json("transactions.json", orient="records")

# Write to Excel with style
transactions_df.style.highlight_max().to_excel("styled_output.xlsx", engine="openpyxl")
```

---

✅ If you want, I can also create a **single Python notebook** that uses ALL these functions on your data with realistic examples.
Want me to do that? Just say **"Yes, generate the notebook"**.