<a href="https://colab.research.google.com/github/svgoudar/My-Data-Science-Roadmap/blob/main/Pandas_and_Numpy/Panda/3.Data_inspection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df_loan_applications = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/loan_applications.csv")
df_transactions = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/transactions.csv")

In [ ]:
df_loan_applications

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1d4b1017-e8a1-4a7b-94d1-63e90b05d665,CUST114840,2024-12-29,Education Loan,381000.0,24,12.05,Vehicle Purchase,Student,49200.0,...,2400.0,4.88,Rented,"28, Rana Path, Gorakhpur-411614, Tirupati, Mah...",55,Other,3,Approved,0,NaN
49996,2984426c-6d0b-437c-9a13-84bf3244c6d4,CUST103055,2022-06-17,Education Loan,736000.0,120,11.03,Medical Emergency,Student,28600.0,...,4000.0,13.99,Jointly Owned,"20/836, Varma Zila, Udaipur-879473, Rajkot, We...",61,Other,0,Approved,0,NaN
49997,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,...,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN
49998,46a8f901-8005-4ae7-923e-f9d0dc8e0ae8,CUST109088,2022-12-16,Business Loan,827000.0,24,16.18,Vehicle Purchase,Business Owner,46700.0,...,8100.0,17.34,Rented,"H.No. 697, Sathe Road, Ongole 444116, Satna, A...",62,Other,3,Approved,0,NaN
49999,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,...,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN

In [ ]:
# @title Default title text
df_loan_applications.head(100)

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,608bdcee-cb4b-4357-a824-71b16f3cca18,CUST111734,2022-12-27,Business Loan,151000.0,36,12.04,Business Expansion,Business Owner,30700.0,...,0.0,0.00,Rented,"H.No. 582, Sankar Path, Siwan 639401, Imphal, ...",51,Male,2,Declined,0,NaN
96,6add97eb-a717-49e6-9e5c-d70fa706a91a,CUST108974,2025-02-23,Car Loan,314000.0,360,9.47,Business Expansion,Retired,70400.0,...,4000.0,5.68,Owned,"826, Dugar, Baranagar 863578, Ajmer, Odisha, 9...",57,Female,1,Approved,0,NaN
97,e591bfbf-9dc5-4857-a813-b2e75e90651f,CUST114470,2025-01-03,Home Loan,664000.0,360,7.35,Business Expansion,Salaried,74000.0,...,2800.0,3.78,Owned,"665, Chaudry Circle, Aizawl-540555, Jamshedpur...",27,Other,2,Approved,0,NaN
98,f522bf08-c8f0-4b49-b03b-e0e5871e88d9,CUST100165,2023-12-19,Personal Loan,254000.0,60,12.91,Vehicle Purchase,Unemployed,60300.0,...,1600.0,2.65,Jointly Owned,"65/918, Guha Road, Hazaribagh-557790, Gandhidh...",25,Female,2,Approved,0,NaN
99,2424f3d0-ba41-4ebb-9979-f0f9c8603c9d,CUST108592,2023-04-04,Education Loan,1204000.0,60,11.94,Medical Emergency,Unemployed,98400.0,...,6000.0,6.10,Rented,"17/38, Hayer Circle, Sikar-427768, Ongole, Guj...",58,Female,0,Approved,0,NaN

In [ ]:
df_loan_applications.head(5)

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN

In [ ]:
df_transactions.tail()

,transaction_id,customer_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag
49995,3b270807-2e36-448c-af51-d4fa8d776541,CUST115421,2022-01-29 07:54:00,Net Banking,25300.0,Healthcare,Mahal Group,"Bhagalpur, Maharashtra",0.0,0,ATM,204.192.254.120,Success,IOLU31003238734472,Payment for Healthcare,0
49996,c2c714a4-4064-4190-a2a1-01487321e9a4,CUST110943,2022-01-16 16:02:00,ATM Withdrawal,7400.0,Financial Services,Das LLC,"Lucknow, Chhattisgarh",38503.0,0,POS,11.12.241.110,Success,Self,Payment for Financial Services,0
49997,25d1f375-182b-49c3-b609-15408848e5ca,CUST107349,2022-01-12 18:33:00,ATM Withdrawal,1300.0,Electronics,Jaggi LLC,"Thane, Uttar Pradesh",23742.0,0,ATM,82.197.51.173,Success,Self,Payment for Electronics,0
49998,6e4a92aa-f923-43fd-96de-1835ad01d639,CUST104844,2022-01-19 11:21:00,Fund Transfer,6600.0,Groceries,Chada-Saha,"Madurai, Rajasthan",39525.0,0,Web,141.203.188.201,Success,XDYI12622969504246,Payment for Groceries,0
49999,dc306036-829c-4d52-970e-97dffe55b239,CUST114451,2022-01-27 20:18:00,EMI Payment,2800.0,Entertainment,Khanna Inc,"Purnia, Andhra Pradesh",35879.0,0,POS,181.100.155.51,Success,VOIE39500438027471,Payment for Entertainment,0

In [ ]:
df_transactions.tail(5)

,transaction_id,customer_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag
49995,3b270807-2e36-448c-af51-d4fa8d776541,CUST115421,2022-01-29 07:54:00,Net Banking,25300.0,Healthcare,Mahal Group,"Bhagalpur, Maharashtra",0.0,0,ATM,204.192.254.120,Success,IOLU31003238734472,Payment for Healthcare,0
49996,c2c714a4-4064-4190-a2a1-01487321e9a4,CUST110943,2022-01-16 16:02:00,ATM Withdrawal,7400.0,Financial Services,Das LLC,"Lucknow, Chhattisgarh",38503.0,0,POS,11.12.241.110,Success,Self,Payment for Financial Services,0
49997,25d1f375-182b-49c3-b609-15408848e5ca,CUST107349,2022-01-12 18:33:00,ATM Withdrawal,1300.0,Electronics,Jaggi LLC,"Thane, Uttar Pradesh",23742.0,0,ATM,82.197.51.173,Success,Self,Payment for Electronics,0
49998,6e4a92aa-f923-43fd-96de-1835ad01d639,CUST104844,2022-01-19 11:21:00,Fund Transfer,6600.0,Groceries,Chada-Saha,"Madurai, Rajasthan",39525.0,0,Web,141.203.188.201,Success,XDYI12622969504246,Payment for Groceries,0
49999,dc306036-829c-4d52-970e-97dffe55b239,CUST114451,2022-01-27 20:18:00,EMI Payment,2800.0,Entertainment,Khanna Inc,"Purnia, Andhra Pradesh",35879.0,0,POS,181.100.155.51,Success,VOIE39500438027471,Payment for Entertainment,0

## **Structure & size**

In [15]:
print(df_loan_applications.shape)
print(df_loan_applications.size)
print(df_loan_applications.ndim)

(50000, 21)
1050000
2

In [17]:
print(df_transactions.columns)
print(df_transactions.index)
print(df_transactions.axes)

Index(['transaction_id', 'customer_id', 'transaction_date', 'transaction_type',
       'transaction_amount', 'merchant_category', 'merchant_name',
       'transaction_location', 'account_balance_after_transaction',
       'is_international_transaction', 'device_used', 'ip_address',
       'transaction_status', 'transaction_source_destination',
       'transaction_notes', 'fraud_flag'],
      dtype='object')
RangeIndex(start=0, stop=50000, step=1)
[RangeIndex(start=0, stop=50000, step=1), Index(['transaction_id', 'customer_id', 'transaction_date', 'transaction_type',
       'transaction_amount', 'merchant_category', 'merchant_name',
       'transaction_location', 'account_balance_after_transaction',
       'is_international_transaction', 'device_used', 'ip_address',
       'transaction_status', 'transaction_source_destination',
       'transaction_notes', 'fraud_flag'],
      dtype='object')]

In [18]:
print(df_transactions.dtypes)

transaction_id                        object
customer_id                           object
transaction_date                      object
transaction_type                      object
transaction_amount                   float64
merchant_category                     object
merchant_name                         object
transaction_location                  object
account_balance_after_transaction    float64
is_international_transaction           int64
device_used                           object
ip_address                            object
transaction_status                    object
transaction_source_destination        object
transaction_notes                     object
fraud_flag                             int64
dtype: object

In [21]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   transaction_id                     50000 non-null  object
 1   customer_id                        50000 non-null  object
 2   transaction_date                   50000 non-null  object
 3   transaction_type                   50000 non-null  object
 4   transaction_amount                 50000 non-null  float64
 5   merchant_category                  50000 non-null  object
 6   merchant_name                      50000 non-null  object
 7   transaction_location               50000 non-null  object
 8   account_balance_after_transaction  50000 non-null  float64
 9   is_international_transaction       50000 non-null  int64
 10  device_used                        50000 non-null  object
 11  ip_address                         50000 non-null  object
 12  transaction_status                 50000 non-null  object
 13  transaction_source_destination     50000 non-null  object
 14  transaction_notes                  50000 non-null  object
 15  fraud_flag                         50000 non-null  int64
dtypes: float64(2), int64(2), object(12)
memory usage: 6.1+ MB

In [22]:
df_transactions.describe()

,transaction_amount,account_balance_after_transaction,is_international_transaction,fraud_flag
count,50000.000000,50000.000000,50000.000000,50000.000000
mean,5005.674329,21930.235669,0.010440,0.010040
std,5070.810305,14621.954095,0.101643,0.099697
min,100.000000,0.000000,0.000000,0.000000
25%,1400.000000,9237.000000,0.000000,0.000000
50%,3461.505910,21586.500000,0.000000,0.000000
75%,6900.000000,33994.250000,0.000000,0.000000
max,76531.610223,89097.000000,1.000000,1.000000

In [27]:
df_loan_applications.isnull().sum()

application_id                   0
customer_id                      0
application_date                 0
loan_type                        0
loan_amount_requested            0
loan_tenure_months               0
interest_rate_offered            0
purpose_of_loan                  0
employment_status                0
monthly_income                   0
cibil_score                      0
existing_emis_monthly            0
debt_to_income_ratio             0
property_ownership_status        0
residential_address              0
applicant_age                    0
gender                           0
number_of_dependents             0
loan_status                      0
fraud_flag                       0
fraud_type                   48974
dtype: int64

In [28]:
df_loan_applications.isna().sum()

application_id                   0
customer_id                      0
application_date                 0
loan_type                        0
loan_amount_requested            0
loan_tenure_months               0
interest_rate_offered            0
purpose_of_loan                  0
employment_status                0
monthly_income                   0
cibil_score                      0
existing_emis_monthly            0
debt_to_income_ratio             0
property_ownership_status        0
residential_address              0
applicant_age                    0
gender                           0
number_of_dependents             0
loan_status                      0
fraud_flag                       0
fraud_type                   48974
dtype: int64

In [52]:
df_loan_applications.groupby('customer_id').size().reset_index(name='Count').sort_values(by='Count',ascending=False)

      customer_id  Count
311    CUST100339     10
12949  CUST114139     10
17346  CUST118934     10
9893   CUST110828     10
16637  CUST118149      9
...           ...    ...
18284  CUST119965      1
36     CUST100040      1
32     CUST100036      1
29     CUST100033      1
25     CUST100029      1

[18314 rows x 2 columns]

In [51]:
df_loan_applications[df_loan_applications['customer_id'] == 'CUST110828']

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
5624,0d8a3a27-5adf-4158-b9bf-1c24e20b5cc6,CUST110828,2024-11-11,Home Loan,405000.0,360,9.64,Debt Consolidation,Salaried,36200.0,...,5500.0,15.19,Rented,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
7752,1330a620-9fcb-4b8c-ab56-b1acb15855c8,CUST110828,2025-02-01,Home Loan,577000.0,36,12.68,Debt Consolidation,Salaried,36200.0,...,8300.0,22.93,Rented,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
11893,aed1b323-ab70-4746-89ba-50cac04a8d21,CUST110828,2025-05-10,Education Loan,255000.0,24,10.50,Wedding,Salaried,36200.0,...,5300.0,14.64,Jointly Owned,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Declined,0,NaN
20338,c5b006ea-8807-4f4f-88d1-3de11228acba,CUST110828,2023-09-12,Personal Loan,684000.0,360,13.29,Business Expansion,Salaried,36200.0,...,2900.0,8.01,Owned,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
25542,5262fc19-a847-459f-80ca-c1718347f798,CUST110828,2023-01-02,Car Loan,419000.0,36,11.54,Debt Consolidation,Salaried,36200.0,...,2300.0,6.35,Jointly Owned,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
40625,86c353db-28fb-4cea-8e0f-e5d5a42f234a,CUST110828,2024-04-06,Home Loan,820000.0,12,8.89,Debt Consolidation,Salaried,36200.0,...,1800.0,4.97,Owned,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
42596,9670a094-e4b3-4bcb-a983-357badf1587e,CUST110828,2022-10-30,Car Loan,893000.0,360,8.86,Debt Consolidation,Salaried,36200.0,...,1500.0,4.14,Rented,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Declined,0,NaN
44906,2907eb57-5bcd-4ed1-ad58-0e1d97fd302e,CUST110828,2023-04-24,Business Loan,590000.0,360,10.27,Medical Emergency,Salaried,36200.0,...,3400.0,9.39,Rented,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
49808,7f37b12e-aba7-4b66-a94d-e85329620383,CUST110828,2024-04-10,Car Loan,484000.0,36,7.00,Vehicle Purchase,Salaried,36200.0,...,3700.0,10.22,Owned,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN
49933,342a82a7-3230-4bd2-95b3-e7de21f22037,CUST110828,2024-05-29,Personal Loan,466000.0,12,11.92,Medical Emergency,Salaried,36200.0,...,4500.0,12.43,Jointly Owned,"57/483, Bawa Nagar, Tirunelveli 417972, Gulbar...",65,Other,2,Approved,0,NaN

In [56]:
print(df_loan_applications.nunique())
print("------")
print(df_loan_applications['customer_id'].unique())

application_id               50000
customer_id                  18314
application_date              1096
loan_type                        5
loan_amount_requested         1312
loan_tenure_months               7
interest_rate_offered          983
purpose_of_loan                  7
employment_status                6
monthly_income                1101
cibil_score                    354
existing_emis_monthly          108
debt_to_income_ratio          3288
property_ownership_status        3
residential_address          18314
applicant_age                   45
gender                           3
number_of_dependents             5
loan_status                      4
fraud_flag                       2
fraud_type                       4
dtype: int64
------
['CUST109427' 'CUST106146' 'CUST100674' ... 'CUST110536' 'CUST118693'
 'CUST116796']

In [61]:
df_loan_applications[['gender']].value_counts()

gender
Other     16913
Female    16722
Male      16365
Name: count, dtype: int64

In [62]:
df_transactions.memory_usage()

Index                                   132
transaction_id                       400000
customer_id                          400000
transaction_date                     400000
transaction_type                     400000
transaction_amount                   400000
merchant_category                    400000
merchant_name                        400000
transaction_location                 400000
account_balance_after_transaction    400000
is_international_transaction         400000
device_used                          400000
ip_address                           400000
transaction_status                   400000
transaction_source_destination       400000
transaction_notes                    400000
fraud_flag                           400000
dtype: int64

In [64]:
df_transactions.sample(10)

,transaction_id,customer_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag
35278,164bd107-8c00-4e50-aa60-1be7d459ac8d,CUST117701,2022-01-14 16:05:00,EMI Payment,400.0,Financial Services,Goda Ltd,"Orai, Karnataka",29117.0,0,Mobile,48.46.105.226,Success,WXJE13844892947237,Payment for Financial Services,0
36005,aa4aaa71-9316-405c-893a-05f1823b4897,CUST100765,2022-01-19 22:15:00,EMI Payment,700.0,Groceries,"Mane, Shan and Dyal","Unnao, Telangana",22084.0,0,Mobile,199.194.188.209,Success,XHXY33887813557251,Payment for Groceries,0
13752,4d4c55b3-13e4-4301-8490-a115e38b82fd,CUST104001,2022-01-06 16:13:00,UPI,1700.0,Financial Services,"Saran, Ahluwalia and Butala","Satara, Meghalaya",32384.0,0,Web,169.166.60.194,Success,PCDX33465924583516,Payment for Financial Services,0
10418,f159f42b-d543-4386-94e1-a0dd61b35370,CUST107660,2022-01-18 10:05:00,Debit Card,3000.0,Electronics,"Sha, Dara and Babu","Bidar, Tamil Nadu",32563.0,0,Mobile,9.159.119.209,Success,CVEV59752908059493,Payment for Electronics,0
28577,a821b656-215b-4d08-8406-04b5ebe507eb,CUST108896,2022-01-20 19:46:00,EMI Payment,1800.0,Education,Cherian-Chandran,"Nagaon, Karnataka",47210.0,0,ATM,34.68.31.209,Success,DCSQ61420476578322,Payment for Education,0
28310,438ea34a-529e-4013-aff6-48e68f6cc086,CUST112805,2022-01-04 20:46:00,Bill Payment,2700.0,Education,Sibal-Kar,"Bhilwara, Andhra Pradesh",3897.0,0,Web,247.112.117.96,Success,LPVN58020000618067,Payment for Education,0
14478,39432587-4998-4e57-8034-8a10ce05cb21,CUST107936,2022-01-04 23:04:00,Net Banking,10800.0,Dining,Warrior and Sons,"Panipat, Andhra Pradesh",38945.0,0,Mobile,234.76.173.145,Success,XMAG58650678399799,Payment for Dining,0
29885,91739706-7409-463e-9a16-78926f091a1c,CUST117431,2022-01-08 11:54:00,Credit Card,600.0,Utilities,Kala and Sons,"Guntakal, West Bengal",1861.0,0,ATM,41.111.103.90,Success,CVRU98714099610946,Payment for Utilities,0
40873,b3599014-88f5-4013-be94-3046ae7b213d,CUST118493,2022-01-07 16:52:00,Fund Transfer,1000.0,Electronics,Brar LLC,"Malda, Arunachal Pradesh",40386.0,0,POS,216.17.24.227,Success,XIXU73562815801728,Payment for Electronics,0
45234,bd523216-cfe6-440a-8f6a-91a05df99c95,CUST110681,2022-01-29 23:16:00,Loan Disbursement,3500.0,Travel,Saini Inc,"Salem, Odisha",12990.0,0,ATM,66.101.252.236,Success,VPZA76758078492139,Payment for Travel,0

| Function                | Library | Works on            | Handles None | Handles np.nan | Handles NaT (dates) |
| ----------------------- | ------- | ------------------- | ------------ | -------------- | ------------------- |
| `pd.isnull` / `pd.isna` | pandas  | DataFrame, Series   | âœ…            | âœ…              | âœ…                   |
| `np.isnan`              | numpy   | numeric arrays only | ðŸš«           | âœ…              | ðŸš«                  |

| API                    | What it does                    |
| ---------------------- | ------------------------------- |
| `head() / tail()`      | See top / bottom rows           |
| `shape, size, ndim`    | Structure & size                |
| `columns, index, axes` | Meta info on rows & cols        |
| `dtypes`               | Data type per column            |
| `info()`               | All-in-one summary incl. memory |
| `describe()`           | Stats summary                   |
| `isnull(), sum()`      | Missing value analysis          |
| `unique(), nunique()`  | Unique value exploration        |
| `value_counts()`       | Counts of each category         |
| `memory_usage()`       | Memory footprint                |
| `sample()`             | Random sampling of data         |