<a href="https://colab.research.google.com/github/svgoudar/My-Data-Science-Roadmap/blob/main/Pandas_and_Numpy/Panda/5.Data%20Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
df_loan= pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/loan_applications.csv",)
df_tran = pd.read_csv("https://raw.githubusercontent.com/svgoudar/datasets/refs/heads/main/transactions.csv")

In [11]:
df  = pd.merge(df_loan,df_tran,on='customer_id')

In [12]:
df

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0
1,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,6d95f4bc-ed70-4f81-8618-d61fcabee006,2022-01-01 10:59:00,ATM Withdrawal,4900.0,Utilities,Kumar LLC,"Burhanpur, Telangana",16665.0,0,POS,198.121.163.126,Success,Self,Payment for Utilities,0
2,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,7defbd79-319e-44c3-84b0-eda86770d117,2022-01-16 19:07:00,ATM Withdrawal,3600.0,Education,Hans-Sampath,"Allahabad, Gujarat",33298.0,0,ATM,48.39.67.206,Success,Self,Payment for Education,0
3,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,d6e1e087-c979-45af-82be-a80be7b16e0c,2022-01-29 01:28:00,EMI Payment,9800.0,Entertainment,"Chaudry, Vaidya and Mahajan","Pimpri-Chinchwad, Arunachal Pradesh",36445.0,0,Mobile,23.72.133.170,Success,ERZV01835170244300,Payment for Entertainment,0
4,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,667,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN,5cda4577-eadd-4da3-b50c-aa96c8c40fd4,2022-01-07 16:51:00,Deposit,4400.0,Cash Withdrawal,Biswas Ltd,"Bulandshahr, Andhra Pradesh",13656.0,0,POS,146.178.79.161,Success,Self,Payment for Cash Withdrawal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125276,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,826e2fa7-4942-4264-9aa5-73c435e894ee,2022-01-29 08:47:00,Net Banking,4100.0,Utilities,"Comar, Chandran and Sankar","Udaipur, Bihar",7793.0,0,Mobile,45.12.55.170,Success,LKFK86966279007502,Payment for Utilities,0
125277,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,7745ef45-aa3c-4510-ae29-efe5e4269dc1,2022-01-01 17:53:00,EMI Payment,2800.0,Utilities,"Dhar, Bandi and Mannan","Karimnagar, Mizoram",45281.0,0,Mobile,227.88.125.141,Success,OQLW11460848163287,Payment for Utilities,0
125278,cdbc7ad8-0f23-46c4-aaca-619053ad5605,CUST119886,2024-12-14,Car Loan,436000.0,12,10.98,Wedding,Student,42000.0,799,600.0,1.43,Jointly Owned,"H.No. 505, Luthra Zila, Panchkula 991795, Kolh...",48,Other,4,Approved,0,NaN,b93bac13-9124-480d-9fbf-675d379fd76d,2022-01-05 05:48:00,Credit Card,5200.0,Education,"Viswanathan, Dutta and Date","Tenali, Uttarakhand",0.0,0,ATM,113.89.126.32,Success,FZWM42401121012219,Payment for Education,0
125279,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,7f126cee-0d71-4c48-839b-d08f1c896128,2022-01-09 17:47:00,Debit Card,12400.0,Dining,"Loyal, Ganesan and Wali","Shahjahanpur, Punjab",12396.0,0,POS,174.24.235.70,Success,PKCY10495832996768,Payment for Dining,0
125280,6aaf792e-6755-408e-a9ef-4d9bf841864b,CUST113445,2025-03-25,Home Loan,100000.0,24,9.44,Education,Business Owner,83600.0,709,2200.0,2.63,Owned,"23/178, Iyengar Chowk, Karawal Nagar-908829, J...",46,Male,3,Approved,0,NaN,22f54ed6-08a5-42aa-9339-b9ccb5aab99f,2022-01-02 09:44:00,Net Banking,12000.0,Online Shopping,"Bhatt, Mander and Sengupta","Kolkata, Uttar Pradesh",31502.0,0,Mobile,29.48.28.34,Success,THMT78456558056686,Payment for Online Shopping,0

In [13]:
pd.set_option('display.max.columns',None)

In [14]:
df.head(1)

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,714,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN,3678373e-43ef-43db-86e6-2ded25c0215a,2022-01-05 12:48:00,Loan Disbursement,8800.0,Online Shopping,Samra Group,"Ratlam, West Bengal",0.0,0,ATM,186.235.7.252,Success,OFOB90092825868410,Payment for Online Shopping,0

1. `.map()` â€“ elementwise mapping on Series(for panda < 2.1.0)

for < 2.1.0 Apply a function to a Dataframe elementwise.

In [15]:
df['gender_mapped'] = df['gender'].map({'Male': 0, 'Female': 1})

In [16]:
df.map(lambda x : len(str(x)), na_action='ignore')

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,cibil_score,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag_x,fraud_type,transaction_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag_y,gender_mapped
0,36,10,10,13,8,2,5,17,7,7,3,6,4,6,67,2,6,1,8,1,NaN,36,19,17,6,15,11,19,3,1,3,13,7,18,27,1,3.0
1,36,10,10,13,8,2,5,17,7,7,3,6,4,6,67,2,6,1,8,1,NaN,36,19,14,6,9,9,20,7,1,3,15,7,4,21,1,3.0
2,36,10,10,8,8,3,5,9,10,7,3,3,3,5,76,2,5,1,8,1,NaN,36,19,14,6,9,12,18,7,1,3,12,7,4,21,1,NaN
3,36,10,10,8,8,3,5,9,10,7,3,3,3,5,76,2,5,1,8,1,NaN,36,19,11,6,13,27,35,7,1,6,13,7,18,25,1,NaN
4,36,10,10,8,8,3,5,9,10,7,3,3,3,5,76,2,5,1,8,1,NaN,36,19,7,6,15,10,27,7,1,3,14,7,4,27,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125276,36,10,10,8,8,2,5,7,7,7,3,5,4,13,67,2,5,1,8,1,NaN,36,19,11,6,9,26,14,6,1,6,12,7,18,21,1,NaN
125277,36,10,10,8,8,2,5,7,7,7,3,5,4,13,67,2,5,1,8,1,NaN,36,19,11,6,9,22,19,7,1,6,14,7,18,21,1,NaN
125278,36,10,10,8,8,2,5,7,7,7,3,5,4,13,67,2,5,1,8,1,NaN,36,19,11,6,9,27,19,3,1,3,13,7,18,21,1,NaN
125279,36,10,10,9,8,2,4,9,14,7,3,6,4,5,70,2,4,1,8,1,NaN,36,19,10,7,6,23,20,7,1,3,13,7,18,18,1,3.0
125280,36,10,10,9,8,2,4,9,14,7,3,6,4,5,70,2,4,1,8,1,NaN,36,19,11,7,15,26,22,7,1,6,11,7,18,27,1,3.0

In [17]:
df_1 = df[['debt_to_income_ratio','interest_rate_offered']]

In [19]:
df_1.map(round,ndigits=1)

        debt_to_income_ratio  interest_rate_offered
0                        3.2                   11.7
1                        3.2                   11.7
2                        0.0                   13.6
3                        0.0                   13.6
4                        0.0                   13.6
...                      ...                    ...
125276                   1.4                   11.0
125277                   1.4                   11.0
125278                   1.4                   11.0
125279                   2.6                    9.4
125280                   2.6                    9.4

[125281 rows x 2 columns]

2. `.apply()` â€“ row/column-wise operations

In [25]:
# Calculate a custom risk score
df['risk_score'] = df.apply(
    lambda row: row['loan_amount_requested'] / (row['monthly_income'] + 1),
    axis=1
)

In [26]:
df_1 = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [28]:
import numpy as np
df_1.apply(np.sum,axis=0)

A    12
B    27
dtype: int64

In [30]:
df_1.apply(np.sum,axis=1)

0    13
1    13
2    13
dtype: int64

[link text](https://)
2. `.apply()` â€“ row/column-wise operations
3. `.applymap()` â€“ elementwise mapping on DataFrame
4. `.pipe()` â€“ function chaining
5. `.eval()` â€“ efficient expressions
6. `.assign()` â€“ add new columns in chain
7. `.transform()` â€“ preserve shape with transformations

In [ ]:
pd.__version__